
/* Add your CSS below! */


body {
	color: #777A64;
    text-align: center;
    background-color:  #000000;
    background-image: url('assets/images/background.png');
    /* #AA6F39; #C5DBBD;*/
	font-size:18px
}

h1 {
	font-family:  Helvetica, sans-serif;
	font-size:45px;
	color: #9E3B33;
}

#title {
	font-family:  Bungee Outline, sans-serif;
	color: #9E3B33;
}

#introtext {
	font-family:  Cinzel, sans-serif;
	color: #9E3B33;
}
 
 
a {
   color:  #B59365;
   text-decoration: none; 
 }

#canvascontainer{	
	border: 10px solid #947d54;
	margin: 0 auto;	
	border-radius: 5px;
	width: 800px;
	height:600px;
	/*width: 814px;
	height:614px;
	background-image: url('assets/images/edgeBgBW.png');*/
	cursor: crosshair;
	background-color:  #ffffff;
}
#cr-stage { 
	background-color:  #360404;
	color: white;
	/* border: 1px solid black;
	margin: 5px; */
	
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}